<div class="container">
<mat-toolbar color="primary">Angular Truffle Box - Online Market</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav mode="side" opened class="sidebar">
    <button mat-button [matMenuTriggerFor]="menu">Dashboard</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item  [routerLink]="['/dashboard/storeowner']">Add Store Owner</button>
    <button mat-menu-item  [routerLink]="['/dashboard/stores']">Browse Stores</button>
    <button mat-menu-item  [routerLink]="['/dashboard/products']">Browse Products</button>
  </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
<!-- <app-meta-sender></app-meta-sender> -->
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
