.main-container {
  /* position: absolute; */
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0; */
  background: #eee;
}
.sidebar{
  /* top: 60px; */
  /* width:14%; */
  background-color: #5453A4;
  /* position: fixed; */
  /* display: block; */
  /* z-index: 1; */
}
.container{
  height: 100%;
}
.icon{
  /* display: block; */
  /* padding-left:  100px; */
  /* float : right !important; */
  /* vertical-align: bottom; */
  padding-top: 20px;
}
.icondiv{
    background-color: primary;
}
